.DS_Store
env/
venv/
ENV/
.env/
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/
*/migrations/
!*/migrations/__init__.py
.vscode/