<!DOCTYPE html>
<html>
<head>
    <title>Sticky Notes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stickies/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Sticky Notes</h1>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
